<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="css/bootstrap.min.css">
<head>
    <title>Orders</title>
</head>
<body>
    <h1>My Orders</h1>
    <table class="table table-bordered" style="width:50%">
        <thead>
            <tr>
                <th style="text-align: center;">Order Number</th>
                <th style="text-align: center;">Product Name</thstyle="text-align: center;">
                <th style="text-align: center;">Price</th>
                <th style="text-align: center;">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${orders.empty}">
                <td style="text-align: center;" colspan="4">No Orders Available</td>
            </tr>
            <tr th:each="order : ${orders}">
                <td style="text-align: center;" th:text="${order.orderNo}"></td></h5></td>
                <td style="text-align: center;" th:text="${order.productName}"></h5></td>
                <td style="text-align: center;" th:text="${order.price}"></h5></td>
                <td style="text-align: center;" th:text="${order.quantity}"></h5></td>
            </tr>
			
			 <a th:href="@{/home}">Go back to home</a>
            </tbody>
            </table>